body, .jumbotron {
    text-align: center;
    background-color: #007bff;
    color: white;
    
}

#carouselExampleIndicators{
    width: 45em;
    margin: auto;
}

.petLink {
    color: white !important;
    text-decoration: underline;
}


#petInfo, #petName, #petDescription {
    color: black;
}
            